VITE_SUPABASE_URL=https://jvcrwjwewubbdsctdzrw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp2Y3J3andld3ViYmRzY3RkenJ3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQxODE3MzcsImV4cCI6MjA5OTc1NzczN30.aIEuzHoGTVkB7Wq4wQh18FM9cE9Ls4sitkbLyW1e7eA